@import '../../styles/mixins.less';

.AdminView{
	.fitparent();
	.container{
		.fitparent(80px 16px 88px 16px);
		width: auto;
		overflow-y: scroll;
		&.fill{
			bottom: 16px;
		}
	}
}

.AdminBottomNavigation{
	position: fixed;
	left: 16px;
	right: 16px;
	bottom: 16px;
}

@media only screen and (max-device-width : 736px) {
	.AdminView{
		.container{
			padding-top: 32px;
			table{
				.table-search-bar{
					.search-text{
						width: 120px !important;
					}
				}
				.table-action-bar{
					position: absolute !important;
					top: 0;
					right: 0;
				}
			}
		}
	}
}